html {
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media screen and (min-width: 900px) {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
