
{{#each articleStore }}
 <div class="card-item" data-action="${id}">
        <div class="card-img">
            <img src="{{poster_path}}" class="card-img-top" alt="${title}">
        </div> 
        <div class="card-body">
            <h2 class="card-title">{{title}}</h2>
            <p class="card-text">{{genre_ids}} | {{release_date}}</p>
        </div>
    </div>
{{/each}}  