<main>
  <section class="gallery">
    <div class="container">
      <h2 class="visually-hidden">Gallery</h2>
      <ul class="gallery-list">
        <!-- `<li class="film-card">
        <a href="modal-film.html" class="film-card__link">
          <div class="film-card__img">
            <img src="${}" alt="${}" loading="lazy" />
          </div>
          <div class="film-card__info">
            <p class="film-card__title">${}</p>
            <p class="film-card__description">${} | ${}</p>
          </div>
        </a>
      </li>` -->
      </ul>
    </div>
    <!-- <include src="./partials/pagination.html"></include> -->
  </section>
</main>