<div class="header__container container">
  <div class="header__background">
    <div class="header__wrapper">
      <div class="header__btn-wrapper">
        <form action="./index.html">
          <button class="header__btn-home button" type="button">Home</button>
        </form>
        <form action="#">
          <button class="header__btn-library button" type="button">
            My library
          </button>
        </form>
      </div>
      <form class="header__search">
        <input
          class="header__search-input"
          name="search"
          type="text"
          placeholder="Movie Search"
        />
        <button class="header__search-btn" type="submit">
          <svg class="header__search-icon">
            <use href="./images/sprite.svg#icon-search-2"></use>
          </svg>
        </button>
      </form>
    </div>
    <div class="header__logo">
      <a class="header__logo-link link" href="./index.html">
        <svg class="header__logo-icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <h1 class="header__title">Filmoteka</h1>
      </a>
    </div>
  </div>
</div>
