<div class="backdrop is-hidden">
  <button class="teamModal__closeBtn" type="button">
    <svg class="close-icon" width="32" height="32">
      <use href="./images/sprite.svg#icon-hearth"></use>
    </svg>
  </button>
  <div class="grid-wrapper">
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
  </div>
</div>
