<div class="backdrop teamModal is-hidden">
  <button class="teamModal__closeBtn" type="button">
    <svg class="close-icon" width="32" height="32">
      <use href="./images/sprite.svg#icon-hearth"></use>
    </svg>
  </button>
  <div class="grid-wrapper">
    <div class="item-wrapper">
      <div class="item">
        <img src="./images/teamPhotos/EduardBruhosh.jpg" alt="Eduard Bruhosh" />
      </div>
      <p class="member-name">Eduard Bruhosh (Team Lead)</p>
      <a target="_blank" class="member-link" href="https://github.com/brugiiii"
        ><svg class="github-icon" width="40" height="40">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>

    <div class="item-wrapper">
      <div class="item">
        <img src="./images/popcorn.png" alt="Anna Kreidina" />
      </div>
      <p class="member-name">Anna Kreidina (Scrum Master)</p>
      <a target="_blank" class="member-link" href="https://github.com/Kreidina">
        <svg class="github-icon" width="40" height="40">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>

    <div class="item-wrapper">
      <div class="item">
        <img src="./images/popcorn.png" alt="Ihor Prokopchuk" />
      </div>
      <p class="member-name">Ihor Prokopchuk</p>
      <a
        target="_blank"
        class="member-link"
        href="https://github.com/IhorProkopchuk"
        ><svg class="github-icon" width="40" height="40">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>

    <div class="item-wrapper">
      <div class="item">
        <img src="./images/popcorn.png" alt="Nikita Kozachkov" />
      </div>
      <p class="member-name">Nikita Kozachkov</p>
      <a
        target="_blank"
        class="member-link"
        href="https://github.com/nikitakozachkov"
        ><svg class="github-icon" width="40" height="40">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>

    <div class="item-wrapper">
      <div class="item">
        <img src="./images/popcorn.png" alt="Zinovieva Vitaliia" />
      </div>
      <p class="member-name">Zinovieva Vitaliia</p>
      <a
        target="_blank"
        class="member-link"
        href="https://github.com/Vita-Zinovieva"
        ><svg class="github-icon" width="40" height="40">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>

    <div class="item-wrapper">
      <div class="item">
        <img
          src="./images/teamPhotos/AnnaKorotetska.png"
          alt="Anna Korotetska"
        />
      </div>
      <p class="member-name">Anna Korotetska</p>
      <a
        target="_blank"
        class="member-link"
        href="https://github.com/AnnKorotetska"
        ><svg class="github-icon" width="40" height="40">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>

    <div class="item-wrapper">
      <div class="item">
        <img src="./images/popcorn.png" alt="Vitalii Khanaliiev" />
      </div>
      <p class="member-name">Vitalii Khanaliiev</p>
      <a
        target="_blank"
        class="member-link"
        href="https://github.com/Despeir993"
        ><svg class="github-icon" width="40" height="40">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>

    <div class="item-wrapper">
      <div class="item">
        <img src="./images/teamPhotos/InnaZorina.jpg" alt="Inna Zorina" />
      </div>
      <p class="member-name">Inna Zorina</p>
      <a target="_blank" class="member-link" href="https://github.com/Pticeron"
        ><svg class="github-icon" width="40" height="40">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>

    <div class="item-wrapper">
      <div class="item">
        <img src="./images/popcorn.png" alt="Bogdan Shkolnik" />
      </div>
      <p class="member-name">Bogdan Shkolnik</p>
      <a
        target="_blank"
        class="member-link"
        href="https://github.com/Bogdan-SHk"
        ><svg class="github-icon" width="40" height="40">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>

    <div class="item-wrapper">
      <div class="item">
        <img src="./images/teamPhotos/Volodymyr.jpg" alt="Volodymyr" />
      </div>
      <p class="member-name">Volodymyr</p>
      <a
        target="_blank"
        class="member-link"
        href="https://github.com/Emersonnaw"
        ><svg class="github-icon" width="40" height="40">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>

    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="Catherine" /></div>
      <p class="member-name">Catherine</p>
      <a target="_blank" class="member-link" href="https://github.com/angikkate"
        ><svg class="github-icon" width="40" height="40">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
