<div class="backdrop is-hidden">
  <button class="teamModal__closeBtn" type="button">Close</button>
  <div class="grid-wrapper">
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
    <div class="item-wrapper">
      <div class="item"><img src="./images/popcorn.png" alt="" /></div>
    </div>
  </div>
</div>
