button {
  padding: 0;
  cursor: pointer;
}

.modal {
  display: flex;
  position: relative;
  max-width: 440px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 48px 20px 40px 20px;
  background-color: #ffffff;

  @media screen and (max-width: 767px) {
    height: 80%;
  }

  @media screen and (min-width: 768px) {
    max-width: 704px;
    padding: 40px 72px 64px 36px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 806px;
    padding: 40px 12px;
  }

  &-left {
    @media screen and (min-width: 768px) {
      margin-right: 68px;
    }

    @media screen and (min-width: 1280px) {
      margin-right: 16px;
    }
  }

  &-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    background: transparent;
    border: 0;
  }

  &-button__primary {
    width: 125px;
    background-color: #b92f2c;

    color: #fff;

    @media screen and (min-width: 768px) {
      width: 137px;
    }

    @media screen and (min-width: 1280px) {
      width: 165px;
    }
  }

  &-button__secondary {
    width: 111px;
    border: 1px solid #000;
    background-color: transparent;

    color: #b92f2c;

    @media screen and (min-width: 768px) {
      width: 119px;
    }

    @media screen and (min-width: 1280px) {
      width: 134px;
    }
  }
}

.icon-close {
  width: 16px;
  height: 16px;
  fill: #000;
}

.modal-content {
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  &__image {
    width: 100%;
    height: 357px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #000;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      width: 264px;
      height: 373.55px;
      margin: 0;
    }

    @media screen and (min-width: 1280px) {
      width: 375px;
      height: 478px;
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 500;
    line-height: 23.44px;
    text-transform: uppercase;
    color: #000;

    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 35.16px;
    }
  }

  &__about {
    margin-bottom: 20px;

    font-weight: 500;
    line-height: 20px;

    font-size: 12px;
    line-height: 20px;
    color: #000;

    & p {
      margin: 0;
    }

    & p:first-child {
      margin-bottom: 8px;

      line-height: 16px;
      text-transform: uppercase;

      @media screen and (min-width: 767px) {
        margin-bottom: 7.45px;
      }

      @media screen and (min-width: 1280px) {
        margin-bottom: 8px;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 4px;

    font-size: 12px;
    line-height: 14.06px;

    @media screen and (max-width: 767px) {
      & button {
        margin-bottom: auto;
      }

      height: 54px;
    }

    @media screen and (min-width: 768px) {
      gap: 8px;
    }

    @media screen and (max-width: 1279px) {
      justify-content: center;
    }
  }
}

.modal-list {
  display: flex;
  gap: 39px;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 16;

  padding: 0;
  list-style: none;

  @media screen and (min-width: 1280px) {
    gap: 83px;
  }

  & p {
    margin: 0;
  }

  &__item {
    font-weight: 500;
    line-height: 16px;
  }

  &__item p:not(:last-child) {
    margin-bottom: 8px;
  }

  &__item:first-child {
    color: #8c8c8c;
  }

  &__item:last-child {
    color: #000;

    & span:nth-child(1) {
      display: inline-block;
      width: 36px;
      height: 16px;
      background-color: #b92f2c;
      border-radius: 5px;

      text-align: center;
      color: #fff;
    }

    & span:nth-child(2) {
      color: #8c8c8c;
    }

    & span:nth-child(3) {
      display: inline-block;
      width: 36px;
      height: 16px;
      background-color: #f7f7f7;
      border-radius: 5px;

      text-align: center;
      color: #000;
    }

    & p:nth-child(3) {
      text-transform: uppercase;
    }
  }
}
