.card-img {
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;

  & img {
    height: 592px;
  }
}

.card-item {
  &:not(:last-child) {
    margin-bottom: 20px;

    @media screen and(min-width:768px) {
      margin-bottom: 0;
    }
  }

  @media screen and(min-width:768px) {
    width: calc((100% - 32px) / 2);
  }

  @media screen and(min-width:1280px) {
    width: calc((100% - 32px) / 3);
  }
}

.card-body {
  font-weight: 500;
  line-height: 1.16;
  color: #b92f2c;
}

@media screen and (min-width: 768px) {
  .card-body {
    line-height: 1.33;
  }
}

@media screen and (min-width: 1280px) {
  .card-body {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
  }
}

.card-title {
  color: rgba(0, 0, 0, 1);

  text-transform: uppercase;
  font-weight: inherit;
  margin-bottom: 0;
}

.card-text {
  margin-bottom: 0;
}
