.backdrop-loader {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.263);
  visibility: visible;
  opacity: 1;
  width: 100vw;
  height: 100vh;

  transition: opacity 250ms linear, visibility 250ms linear,
    background-color 250ms linear;
}

.backdrop-loader--is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.is-hidden {
  display: none;
}

.loader {
  z-index: 10001;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #f7f7f7;
  border-top-color: #b92f2c;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
