.preloader {
  width: 100%;
  height: 100%;

  transition: 1s all;

}

.loader {
  margin: 10px auto 500px auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #f7f7f7;
  border-top-color: #b92f2c;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
