.main-content {
  padding: 20px 0 40px;

  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    padding: 32px 0 61px;
  }

  @media screen and(min-width:1280px) {
    gap: 16px;

    padding-bottom: 60px;
  }
}
